<a href="javascript:void(0);" title="Back To Top" id="back-to-top">To TOP</a>

<script type="text/javascript">
    function turnTop() {
        if ($(window).scrollTop() > 258) {
            if ($(window).width() >= 1216) {
                $("#back-to-top").css("left", ($(window).width() - $("main").width()) / 2 + $("main").width());
            } else {
                $("#back-to-top").css("left", "auto");
            }
            $("#back-to-top").show();
        } else {
            $("#back-to-top").hide();
        }
    }

    $(document).ready(function () {
        $(window).scroll(function () {
            turnTop();
        });

        $(window).resize(function () {
            turnTop();
        });

        $("#back-to-top").on('click', function () {
            $('html, body').animate({scrollTop: 0}, 400);
        });
    });
</script>