<a href="javascript:void(0);" title="Back To Top" id="back-to-top">TOP</a>

<script type="text/javascript">
    function toTop() {
        let gotoTop = function () {
            let currentPosition = document.documentElement.scrollTop || document.body.scrollTop;
            currentPosition -= 20;
            if (currentPosition > 0) {
                window.scrollTo(0, currentPosition);
            } else {
                window.scrollTo(0, 0);
                clearInterval(timer);
                timer = null;
            }
        };
        let timer = setInterval(gotoTop, 1);
    }

    window.onscroll = function () {
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
        if (scrollTop > 258) {
            if(window.innerWidth >= 720){
                document.getElementById("back-to-top").style.display = "inline-block";
            }
        } else {
            document.getElementById("back-to-top").style.display = "none";
        }
    };

    document.getElementById("back-to-top").addEventListener('click', function () {
        toTop();
        return false;
    });
</script>