---
layout: default
---

<section class="post">
    <h2>{{ page.title }}</h2>
    {{ content }}
    <span class="meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
      &middot;
      # {% for tag in page.tags %}<a href="/tags#{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
</section>
<a href="javascript:void(0);" title="Back To Top" class="back-to-top post-back-to-top">To Top</a>
{% include back_to_top.html %}